In [10]:
df.isnull().sum()
df.isnull().mean() * 100  # Percentage of nulls

state_ut                                                                                                           0.000000
year                                                                                                               0.000000
01_District_wise_crimes_committed_IPC_2001_2012_total_ipc_crimes                                                  15.975780
01_District_wise_crimes_committed_IPC_2013_total_ipc_crimes                                                       92.333489
17_Crime_by_place_of_occurrence_2001_2012_total_-_dacoity                                                         17.279925
17_Crime_by_place_of_occurrence_2001_2012_total_-_robbery                                                         17.279925
17_Crime_by_place_of_occurrence_2001_2012_total_-_burglary                                                        17.279925
17_Crime_by_place_of_occurrence_2001_2012_total_-_theft                                                           17.279925
17_Crime_by_place_of_occurrence_2013_total_-_dacoity                                                              92.305543
17_Crime_by_place_of_occurrence_2013_total_-_robbery                                                              92.305543
17_Crime_by_place_of_occurrence_2013_total_-_burglary                                                             92.305543
17_Crime_by_place_of_occurrence_2013_total_-_theft                                                                92.305543
17_Crime_by_place_of_occurrence_2014_total_dacoity_cases_reported                                                 92.203074
17_Crime_by_place_of_occurrence_2014_total_dacoity_value_of_property_stolen                                       92.203074
17_Crime_by_place_of_occurrence_2014_total_robbery_cases_reported                                                 92.203074
17_Crime_by_place_of_occurrence_2014_total_robbery_value_of_property_stolen                                       92.203074
17_Crime_by_place_of_occurrence_2014_total_burglary_cases_reported                                                92.203074
17_Crime_by_place_of_occurrence_2014_total_burglary_value_of_property_stolen                                      92.203074
17_Crime_by_place_of_occurrence_2014_total_theft_cases_reported                                                   92.203074
17_Crime_by_place_of_occurrence_2014_total_theft_value_of_property_stolen                                         92.203074
42_District_wise_crimes_committed_against_women_2014_kidnapping_&_abduction_total                                 92.203074
42_District_wise_crimes_committed_against_women_2014_assault_on_women_with_intent_to_outrage_her_modesty_total    92.203074
42_District_wise_crimes_committed_against_women_2014_insult_to_the_modesty_of_women_total                         92.203074
42_District_wise_crimes_committed_against_women_2014_dacoity_total                                                92.203074
42_District_wise_crimes_committed_against_women_2014_total_crimes_against_women                                   92.203074
dtype: float64

In [ ]:
"Dropping columns with more than 60% null values"
threshold = 60  # percentage
cols_to_drop = df.columns[df.isnull().mean() * 100 > threshold]
df.drop(columns=cols_to_drop, inplace=True)

In [13]:
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

# Filling missing values in numerical columns with median

In [9]:
df = pd.read_csv('crime_merged.csv')

In [8]:
import pandas as pd 
import numpy as np