In [7]:
df.isnull().sum()
df.isnull().mean() * 100  # Percentage of nulls

state_ut                                                             0.000000
year                                                                 0.000000
01_District_wise_crimes_committed_IPC_2001_2012_total_ipc_crimes    15.975780
17_Crime_by_place_of_occurrence_2001_2012_total_-_dacoity           17.279925
17_Crime_by_place_of_occurrence_2001_2012_total_-_robbery           17.279925
17_Crime_by_place_of_occurrence_2001_2012_total_-_burglary          17.279925
17_Crime_by_place_of_occurrence_2001_2012_total_-_theft             17.279925
dtype: float64

In [6]:
"Dropping columns with more than 60% null values"
threshold = 60  # percentage
cols_to_drop = df.columns[df.isnull().mean() * 100 > threshold]
df.drop(columns=cols_to_drop, inplace=True)

In [5]:
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

# Filling missing values in numerical columns with median

NameError: name 'num_cols' is not defined

In [8]:
print(df.head())
print(df.columns)

        state_ut  year  \
0  A & N ISLANDS  2001
1  A & N ISLANDS  2001
2  A & N ISLANDS  2001
3  A & N ISLANDS  2002
4  A & N ISLANDS  2002

   01_District_wise_crimes_committed_IPC_2001_2012_total_ipc_crimes  \
0                                              637.0
1                                               21.0
2                                              658.0
3                                              580.0
4                                               28.0

   17_Crime_by_place_of_occurrence_2001_2012_total_-_dacoity  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                1.0
4                                                1.0

   17_Crime_by_place_of_occurrence_2001_2012_total_-_robbery  \
0                                                4.0
1                                                4.0
2                                                4.0
3                                                7.0
4                                                7.0

   17_Crime_by_place_of_occurrence_2001_2012_total_-_burglary  \
0                                               64.0
1                                               64.0
2                                               64.0
3                                               49.0
4                                               49.0

   17_Crime_by_place_of_occurrence_2001_2012_total_-_theft
0                                               65.0
1                                               65.0
2                                               65.0
3                                               49.0
4                                               49.0
Index(['state_ut', 'year',
       '01_District_wise_crimes_committed_IPC_2001_2012_total_ipc_crimes',
       '17_Crime_by_place_of_occurrence_2001_2012_total_-_dacoity',
       '17_Crime_by_place_of_occurrence_2001_2012_total_-_robbery',
       '17_Crime_by_place_of_occurrence_2001_2012_total_-_burglary',
       '17_Crime_by_place_of_occurrence_2001_2012_total_-_theft'],
      dtype='object')

In [9]:
df.groupby(df.columns.tolist()).size().reset_index(name='count')

,state_ut,year,01_District_wise_crimes_committed_IPC_2001_2012_total_ipc_crimes,17_Crime_by_place_of_occurrence_2001_2012_total_-_dacoity,17_Crime_by_place_of_occurrence_2001_2012_total_-_robbery,17_Crime_by_place_of_occurrence_2001_2012_total_-_burglary,17_Crime_by_place_of_occurrence_2001_2012_total_-_theft,count
0,A & N ISLANDS,2001,21.0,0.0,4.0,64.0,65.0,1
1,A & N ISLANDS,2001,637.0,0.0,4.0,64.0,65.0,1
2,A & N ISLANDS,2001,658.0,0.0,4.0,64.0,65.0,1
3,A & N ISLANDS,2002,28.0,1.0,7.0,49.0,49.0,1
4,A & N ISLANDS,2002,580.0,1.0,7.0,49.0,49.0,1
...,...,...,...,...,...,...,...,...
8733,WEST BENGAL,2012,11919.0,279.0,816.0,464.0,22991.0,1
8734,WEST BENGAL,2012,12713.0,279.0,816.0,464.0,22991.0,1
8735,WEST BENGAL,2012,14370.0,279.0,816.0,464.0,22991.0,1
8736,WEST BENGAL,2012,25370.0,279.0,816.0,464.0,22991.0,1
8737,WEST BENGAL,2012,161427.0,279.0,816.0,464.0,22991.0,1

In [4]:
df = pd.read_csv('crime_merged.csv')

In [3]:
import pandas as pd 
import numpy as np